<section class="row">
  <section class="column">
    <h1>3. Inside Events</h1>
  </section>
</section>

<section class="row">
  <section class="column">
    <h2>Lifecycle: <code>handle_event &vert;&gt; render</code></h2>
    <.code_inspector file={@file} />
  </section>
</section>
