<h1>6. Inside Lifecycle Hooks</h1>

<section class="next-prev">
  <%= live_redirect "1. Mount", class: "next", to: Routes.inside_mount_path(InterWeb.Endpoint, :index) %>
  <%= link "5. Live Sessions", class: "prev", to: Routes.inside_live_sessions_path(InterWeb.Endpoint, :index) %>
</section>
