<h1>6. Inside Live Sessions</h1>

<section class="next-prev">
  <%= live_redirect "1. Mount", class: "next", to: Routes.inside_mount_path(InterWeb.Endpoint, :index) %>
  <%= live_redirect "5. Lifecycle Hooks", class: "prev", to: Routes.inside_lifecycle_hooks_path(InterWeb.Endpoint, :index) %>
</section>
