<h1>5. Inside Live Sessions</h1>

<section class="next-prev">
  <%= live_redirect "6. Lifecycle Hooks", class: "next", to: Routes.inside_lifecycle_hooks_path(InterWeb.Endpoint, :index) %>
  <%= link "4. Messages", class: "prev", to: Routes.inside_messages_path(InterWeb.Endpoint, :index) %>
</section>
