/* This file is for your main application CSS */
@import "./phoenix.css";

:root {
  --font-mono: "JetBrains Mono", Consolas, Menlo, Monaco, "Liberation Mono", monospace;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  font-family: var(--font-sans);
  font-size: 16px;
  overflow-wrap: break-word;
}

.container {
  max-width: 1000px;
}

.row.mb {
  margin-bottom: 1em;
}

pre,
code,
kbd {
  font-family: var(--font-mono);
  font-weight: 400;
}

code {
  font-family: var(--font-mono);
  font-size: 13px;
  font-weight: 400;
}

p>code {
  white-space: normal;
}

h1 code,
h2 code,
h3 code {
  font-size: inherit;
}

h1.lead-in {
  font-weight: 700;
}

main {
  text-align: center;
}

input[hidden] {
  display: none;
}

/* Page Navigation */

header nav li {
  text-align: left;
}

header nav.breadcrumb [aria-current="page"] {
  color: rgb(20, 20, 20);
  font-weight: 700;
  text-decoration: none;
}

nav.subnav>ol {
  list-style: lower-alpha inside;
}

.next-prev {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.next-prev.next {
  justify-content: flex-end;
}

.next-prev.prev {
  justify-content: flex-start;
}

.next-prev>.next {
  order: 2;
}

.next-prev>.next::before {
  content: "Next: ";
}

.next-prev>.prev {
  order: 1;
}

.next-prev>.prev::before {
  content: "Previous: ";
}

.next-prev:has(:only-child) {
  justify-content: flex-end;
}

/* Code inspector (View Source) */

pre {
  text-align: left;
  border: 0 none;
  padding: 1rem;
  margin: 0;
  word-wrap: break-word;
}

pre>code {
  background-color: inherit;
  padding: 0;
  margin: 0;
}

details:focus,
summary:focus {
  outline: none;
}

details>summary {
  cursor: pointer;
}

details:not([open])>summary::after {
  content: " (click to show)"
}

details[open]>summary::after {
  content: " (click to hide)"
}

section.row.inspector {
  text-align: left;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

.highlight code {
  font-size: 16px;
}

/* Color block */

#color-tube {
  height: auto;
  aspect-ratio: 16 / 9;
  padding: 0;
  margin: 0 auto;
  background-color: rgb(212, 80, 34);
  color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#color-tube.ex {
  background-color: rgb(75, 68, 115);
}

#color-tube a {
  color: white;
  text-decoration: underline;
}

#color-tube code {
  color: rgb(20, 20, 20);
}

#color-tube code.counter {
  margin: 0 auto;
  color: white;
  background: transparent;
  align-self: center;
  line-height: 100%;
  font-size: 4em;
}

#color-tube label {
  color: rgb(20, 20, 20);
}

#color-tube form {
  background-color: lavender;
  height: auto;
  padding: 1em;
  margin: 0;
  height: auto;
}

#color-tube>form input {
  max-width: 100%;
}

#color-tube form input[type=text] {
  background-color: white;
  margin-right: 1em;
}

#color-tube>.slide h1 {
  text-align: left;
}

#color-tube>.slide {
  display: block;
  background-color: inherit;
  padding: 1em;
}

#color-tube>.controls {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

#color-tube>.controls form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#color-tube>.controls ol,
#color-tube>.controls ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

#color-tube>.controls li {
  display: inline;
}

/* Responsive design */

@media (min-width: 48.0rem) {
  /* 768px and up */

  header nav ol,
  header nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    line-height: 3.8;
  }

  header nav li {
    display: inline;
  }

  header nav a {
    display: inline;
    font-size: 18px;
  }

  header nav li+li::before {
    display: inline-block;
    margin: 0 1em;
    transform: rotate(15deg);
    border-right: 0.1em solid currentColor;
    height: 0.8em;
    content: '';
  }

  #color-tube {
    max-height: 540px;
  }

  #color-tube p {
    font-size: 20px;
  }

  #color-tube>.slide p {
    font-size: 32px;
    line-height: 38px;
    padding: 0 1em;
  }

  #color-tube>.slide p>code {
    font-size: 20px;
    line-height: 26px;
  }

  #color-tube code.counter {
    font-size: 11em;
  }
}

/* Outside */

body.outside {
  background: url("/images/outside.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

body.outside header nav ul {
  background: transparent;
}

body.outside a.inside {
  font-size: 4em;
  color: white;
  /* margin: 2rem 0; */
  margin-top: auto;
}

/* Pure CSS Drawer Menu */
/* https://codepen.io/equinusocio/pen/wPvvmv */

.OpenMenuButton {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 4px;
  position: fixed;
  top: 25%;
  left: -59px;
  transform: rotate(90deg);
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 4px 1px 1px grey;
  padding: 1rem;
}

.DrawerMenu {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 98%;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
  display: grid;
  grid-template-areas: 'MENU OVERLAY';
  grid-template-columns: 15fr 5fr
}

@media (min-width: 30em) {
  .DrawerMenu {
    grid-template-columns: auto 1fr
  }
}


[data-menu]:checked~.DrawerMenu {
  transform: none
}

.Menu {
  display: block;
  flex-flow: column wrap;
  transform: translateX(-30%);
  opacity: 0;
  color: #fff;
  transition: all 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition-delay: 0;
  contain: content;
  grid-area: 'MENU';
  background-color: rgb(75, 68, 115);
  box-sizing: border-box;
  padding: 24px;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}

@media (min-width: 30em) {
  .Menu {
    min-width: 400px
  }
}


[data-menu]:checked~.DrawerMenu .Menu {
  transform: none;
  opacity: 1;
  transition-delay: 200ms
}

.MenuOverlay {
  display: block;
  grid-area: 'OVERLAY'
}

[data-menu]:not(:checked)~.DrawerMenu .MenuOverlay {
  pointer-events: none
}


/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}

.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
