/* This file is for your main application CSS */
@import "./phoenix.css";

:root {
  --font-mono: "JetBrains Mono", Consolas, Menlo, Monaco, "Liberation Mono", monospace;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  font-family: var(--font-sans);
  font-size: 16px;
  overflow-wrap: break-word;
}

.container {
  max-width: 960px;
}

pre,
code,
kbd {
  font-family: var(--font-mono);
  font-weight: 400;
}

code {
  font-family: var(--font-mono);
  font-size: 13px;
  font-weight: 400;
}

p>code {
  white-space: normal;
}

h1 code,
h2 code,
h3 code {
  font-size: inherit;
}

h1.lead-in {
  font-weight: 700;
}

main {
  text-align: center;
}

/* Page Navigation */

header nav ol,
header nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  line-height: 3.8;
}

header nav li {
  display: inline;
}

header nav a {
  display: inline;
}

header nav li+li::before {
  display: inline-block;
  margin: 0 1em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentColor;
  height: 0.8em;
  content: '';
}

nav.subnav>ol {
  list-style: lower-alpha inside;
}

.next-prev {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.next-prev.next {
  justify-content: flex-end;
}

.next-prev.prev {
  justify-content: flex-start;
}

.next-prev>.next {
  order: 2;
}

.next-prev>.next::before {
  content: "Next: ";
}

.next-prev>.prev {
  order: 1;
}

.next-prev>.prev::before {
  content: "Previous: ";
}

.next-prev:has(:only-child) {
  justify-content: flex-end;
}

/* Code inspector (View Source) */

pre {
  text-align: left;
  border: 0 none;
  padding: 1rem;
  margin: 0;
  word-wrap: break-word;
}

pre>code {
  background-color: inherit;
  padding: 0;
  margin: 0;
}

details:focus,
summary:focus {
  outline: none;
}

details>summary {
  cursor: pointer;
}

details:not([open])>summary::after {
  content: " (click to show)"
}

details[open]>summary::after {
  content: " (click to hide)"
}

section.row.inspector {
  text-align: left;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

/* Color block */

#color-block,
.color-block {
  width: 120px;
  height: 120px;
}

#color-tube {
  height: 540px;
  aspect-ratio: 16 / 9;
  padding: 0;
  margin: 0 auto;
  display: flex;
  background-color: rgb(242, 110, 64);
}

#color-tube>code {
  margin: 0 auto;
  font-size: 11em;
  color: white;
  background: transparent;
  align-self: center;
  line-height: 100%;
}

#color-tube>form {
  background-color: lavender;
  max-width: 50%;
  height: 100%;
  padding: 1em;
}

#color-tube>.slide {
  display: block;
  background-color: inherit;
  padding: 4em;
}

#color-tube>.slide p {
  font-size: 32px;
  line-height: 38px;
}

#color-tube>.slide p>code {
  font-size: 20px;
  line-height: 26px;
}

#color-tube p {
  color: white;
  font-size: 20px;
}

#color-tube p>code {
  color: rgb(20, 20, 20);
}

#color-tube a {
  color: white;
  text-decoration: underline;
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}

.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
